[Desktop Entry]

Type=Application
Version=1.0
Name=Kindle
Comment=A kindle app for linux
Exec=sh -c "\\$HOME/kindle/kindle.sh"
Icon=Kindle
Terminal=false
Categories=Education;Languages;
